!!!
%html
  %head
    %title Customer Site - Home Page
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css", :rel => :stylesheet}
  %body
    %nav{:class => 'navbar navbar-expand-lg navbar-light bg-light'}
      %a{:href => '/', :class => 'navbar-brand'} Customer Site
      %button{:type => "button", :class => "navbar-toggler", :data => {:toggle => 'collapse', :target => '#navbarNav'}, :aria => {:controls => 'navbarNav', :expanded => 'false', :label => 'Toggle navigation'}}
        %span{:class => 'navbar-toggler-icon'}
      %div{:id => 'navbarNav', :class => 'collapse navbar-collapse'}
        %div{:class => 'navbar-nav'}
          %a{:href => '/', :class => 'nav-item nav-link'} Home
          %a{:href => '/price', :class => 'nav-item nav-link active'}
            Price
            %span{:class => 'sr-only'} (current)
          %a{:href => '/contact', :class => 'nav-item nav-link'} Contact
          %a{:href => '/about', :class => 'nav-item nav-link'} About
    %div{:class => 'container'}
      %p
        Price Page.

    %script{:type => "text/javascript", :src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"}
    %script{:type => "text/javascript", :src => "https://rdtracker-api.herokuapp.com/libs/tracker/1.0.0/webtracker.js"}
