!!!
%html
  %head
    %title Customer Site - Price Page
    %script{:type => "text/javascript", :src  => "/js/jquery-3.3.1.min.js"}
    %script{:type => "text/javascript", :src  => "/js/webtracker.js"}
  %body
    #wrapper
      #header
        %h1 Customer Site Price Page
      #content
        %p
          Price Page content.
      #footer
        %p
    :javascript
      pageView();
